* {
    margin: 0;
    padding: 0;
}

a {
    font-family: 宋体;
    text-decoration: none;
    color: #ff5000;
}

body {
    font-family: arial;
}

.PageCenter {
    width: 1200px;
    margin: 0 auto;
}

.lfloat {
    float: left;
}

.rfloat {
    float: right;
}

li {
    list-style-type: none;
}

/*  顶端  */
.top {
    font-family: 宋体;
    font-size: 12px;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #eee;
    background-color: #f5f5f5;
}

.top a {
    text-decoration: none;
    color: #6c6c6c;
}

.top li {
    line-height: 35px;
    margin-right: 15px;
}

.top_arrow {
    margin: 0 5px 2px 5px;
}

.top_right .nav {
    margin-top: 3px;
}

.top_right .cart {
    vertical-align: baseline;
}

.top_right .nav {
    margin-right: 3px;
}

/* logo 区域*/
.logos {
    width: 1200px;
    height: 121px;
    margin: 0 auto;
}

.logos::after {
    display: block;
    clear: both;
    content: '';
}

.logo {
    margin: 30px 90px 0 30px;
}

.logo .logoimg {
    height: 58px;
}

.serch {
    font-size: 12px;
    width: 620px;
    margin-top: 5px;
}

.serch span {
    padding-right: 8px;
}

.red {
    font-family: 宋体;
    color: #ff5000;
}

.normal {
    font-family: 宋体;
    color: #666;
}

.serach_mid .left {
    width: 21px;
    height: 40px;
    background: url('.idea/images/logos_06.jpg') no-repeat 3px 0;
    background-size: 18px 40px;
}

.serch .serachtop {
    line-height: 18px;
    width: 200px;
    height: 40px;
    text-align: center;
}

.serachtop .searchitem {
    padding-top: 17px;
    padding-left: 25px;
}

.serachtop .searchitem::after {
    display: block;
    clear: both;
    content: '';
}

.serachform .textinput {
    line-height: 30px;
    width: 450px;
    height: 30px;
    color: #9c9c9c;
    border: none;
    outline: 0;
    background: none;
}

.serachtop li a {
    display: block;
    width: 40px;
    height: 23px;
    margin-right: 5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.serachtop li a:hover {
    color: #fff7f2;
    background-color: #ff6900;
}

.mid {
    width: 500px;
    height: 40px;
    text-align: right;
    background: url('.idea/images/logos_08.jpg') repeat-x;
    background-size: 500px 40px;
}

.logos .tkphoto {
    margin-right: 10px;
}

.serach_mid .right {
    width: 80px;
    height: 40px;
    background: url('.idea/images/logos_10.jpg') no-repeat;
    background-size: 80px 40px;
}

.serach_mid .button {
    width: 92px;
    height: 40px;
    cursor: pointer;
    border: none;
    background: none;
}

.serach_bottom {
    margin-left: 5px;
    padding-top: 5px;
}

.QRcode {
    width: 114px;
    margin-top: 23px;
    margin-left: 60px;
}

.QRcodeimg img {
    width: 76px;
    height: 90px;
}

.QRcode .close {
    width: 14px;
    height: 14px;
}

/*  导航  */
.mainnav {
    overflow: hidden;
    width: 100%;
    height: 30px;
    background: linear-gradient(to right, #ff9000 0, #ff5000 100%);
}

.mainnav .wapper::after {
    display: block;
    clear: both;
    content: '';
}

.mainnav .mainMart {
    font-family: 宋体;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    width: 190px;
    text-align: center;
    color: #fff;
    background-color: #ff5000;
}

.mainnav .navLeft {
    width: 220px;
}

.mainnav a {
    font-family: 宋体;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    color: #fff;
}

.mainnav     li {
    float: left;
    padding: 0 11px;
}

.mainnav .navMid a {
    font-size: 13px;
}

.mainnav .navMid .navMitem1 {
    padding: 0 2px;
}

.mainnav .wapper::after {
    display: block;
    clear: both;
    content: '';
}

/*---------------内容区域----------*/
.contentWapper {
    background: #f5f5f5;
}

.content {
    position: relative;
    height: 540px;
    /* border: 1px solid black; */
}

/*    左边服务区/电梯区  */
.content .servers {
    width: 188px;
    height: 521px;
    text-align: left;
    color: #666;
    border-right: 1px solid #ff5000;
    border-bottom: 1px solid #ff5000;
    border-left: 1px solid #ff5000;
    background: #fff;
}

.content .servers .svCont {
    padding-left: 20px;
}

.content .servers a {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    padding-right: 2px;
    color: #666;
}

.content .servers .Cont1 {
    padding-top: 5px;
}

.content .servers img {
    float: right;
    height: 10px;
    margin-top: 10px;
    margin-right: 8px;
}

.content .servers .Cont1::after {
    display: block;
    clear: both;
    content: '';
}

/*中间内容区域   */
.content .contMid {
    position: absolute;
    top: 10px;
    left: 200px;
    width: 695px;
}

.content .contMid img {
    margin-right: 5px;
}

.content .contMid .down {
    position: relative;
    margin-top: 10px;
}

.content .contMid .down::after {
    display: block;
    clear: both;
    content: '';
}

.content .contMid .down .leftDisplay {
    width: 520px;
}

.content .contMid .down .leftDisplay .head {
    border-bottom: 4px solid darkred;
}

.disContent {
    height: 192px;
    text-align: center;
    background: #fff;
}

.leftDisplay .disContent img {
    margin: 14px 2px;
}

.content .contMid .down .rightad {
    height: 200px;
    margin-top: 18px;
    margin-left: 8px;
}

/* 右边用户区   */
.contentWapper .contRight {
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 900px;
    width: 300px;
    height: 512px;
    background: orange;
}

.contentWapper .contRight .usertop {
    font-family: tahoma, arial, 'Hiragino Sans GB', 宋体, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    overflow: hidden;   /* //垂直方向出现margin塌陷
                           //父级和自己一起掉，BFC解决 */
    height: 140px;
    text-align: center;
    color: #3c3c3c;
    background: #fff;
}

.contentWapper .contRight .userHome {
    display: block;
    overflow: hidden;
    width: 47px;
    height: 47px;
    margin: 8px auto 5px;
    padding-top: 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    background: url(http://gw.alicdn.com/tps/i3/TB1yeWeIFXXXXX5XFXXuAZJYXXX-210-210.png_50x50.jpg) no-repeat;
    background-position: 0 0;
}

.contentWapper .contRight .userlist {
    text-align: center;
}

.contentWapper .contRight .userlist img {
    height: 16px;
    margin-right: 3px;
    vertical-align: -3px;
}

.contentWapper .contRight .userlist a {
    display: inline-block;
    width: 100px;
    margin-right: 2px;
}

.contentWapper .contRight ul {
    margin-bottom: 8px;
}

.contentWapper .contRight .usrbtn a {
    line-height: 24px;
    display: inline-block;
    width: 70px;
    height: 24px;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(to right, #ff5000 0, #ff6f06 100%);
    background-repeat: repeat-x;
}

.contentWapper .contRight .usrbtn .log {
    width: 90px;
}

.contentWapper .contRight .repot {
    line-height: 25px;
    height: 25px;
    text-align: right;
    color: #f40;
    background: #ffe4dd;
}

.contentWapper .contRight .repot span {
    margin-right: 25px;
}

.contentWapper .contRight .repot img {
    margin-right: 30px;
    vertical-align: -1px;
}

.contentWapper .contRight .notice {
    overflow: hidden;
    height: 90px;
    background: white;
}

.contentWapper .contRight .notice .notop {
    width: 260px;
    margin: 15px auto;
}

.contentWapper .contRight .notice .notop a {
    display: inline-block;
    width: 30px;
    margin: 0 10px;
    padding-bottom: 4px;
    color: #3c3c3c;
}

.contentWapper .contRight .notice .notop a:hover {
    color: #f40;
    border-bottom: 2px solid #f40;
}
