body,html
    line-height: 1
    font-weight:  200
    font-style: 'PingFang SC','STHeitiSC-Light','Helvetica-Light','arial'

@media(-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-radio:1.5)
    .border-1px
        &::after
            -webkit-transform: scaleY(0.7)
            transform: scaleY(0.7)

@media(-webkit-min-device-pixel-ratio:2),(min-device-pixel-radio:2)
    .border-1px
        &::after
            -webkit-transform: scaleY(0.5)
            transform: scaleY(0.5)
