*{
    padding: 0;
    margin: 0;
    list-style: none;
}

html , body{
    width: 100%;
    height: 100%;
    background: linear-gradient(#fff, #000);
}

.wrapper{
    width: 180px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -90px;
    margin-top: -90px;

}

.btn{
    width: 100%;
    height: 100%;
    background-color: deeppink;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 180px;
    border-radius: 50%;
    box-shadow: 8px 13px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
.btn:hover{
    background-color: #A20055;
    color: orange;
}

.wrapper ul{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.wrapper ul li{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.8s;
}

.wrapper ul li div{
    width: 0px;
    height: 0px;
    background-color: snow;
    position: absolute;
    top: -120px;
    left: 50%;
    font-size: 0px;
    margin-left: -40px;
    border-radius: 50%;
    text-align: center;
    line-height: 0px;
    cursor: pointer;  
    transition: all 0.8s, color 0.1s,background 0.1s;
    
    
}
.open ul li div{
    width: 80px;
    height: 80px;
    font-size: 12px;
    line-height: 80px;
    transition: all 0.8s ,color 0.1s,background 0.1s;

}

.wrapper ul li div:hover{
    color: orange;
}