*{
	margin: 0;
	padding: 0;
}

.wrapper{
	height: 600px;
	width: 400px;
	margin: 200px auto;
	border: 2px solid black;
	position: relative;
	overflow: hidden;
}
.title{
	height: 80px;
	width: 400px;
	text-align: center;
	position: absolute;
	top: 0;
	z-index: 99;
}
.title a{
	text-decoration:none;
	font-size: 60px;
	font-family: arial;
	display: block;
	height: 100%;
	line-height: 80px;
	color: cyan;
	border-bottom: 2px dashed #eee;
}
.main{
	height: 600px;
	width: 400px;
	position: relative;
	top: -150px;

}
.line{
	width: 400px;
	height: 150px;

}
.line div{
	width:99px;
	height: 149px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	float: left;
	z-index: 3;
}

.inTouch{

}