*{
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrapper{
	width: 400px;
	height: 600px;
	border: 2px solid black;
	margin: 200px auto;
	position: relative;
	overflow: hidden;
}

.title{
	width: 100%;
	height: 100px;
	border-bottom:5px dashed #eee;
	font-size: 50px;
	line-height: 100px;
	font-weight: bold;
	font-style:arial;
	text-align: center;
	color: cyan;
	cursor: pointer;
}

.main{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: -150px;
	display: none;
}
.Author{
	position:absolute;
	width: 100%;
	height: 50px;
	top: 50%;
	left: 0;
	margin-top:-25px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	line-height: 50px;
	font-family: Arial; 
}
.row{
	width: 100%;
	height: 149px;
	border-bottom: 1px solid black;
}
.col, .target{
	width: 99px;
	height: 149px;
	border-right: 1px solid black;
	float: left;
}